certifi==2023.7.22
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pyparsing==2.4.6
pytz==2019.3
rdflib==4.2.2
requests==2.31.0
six==1.14.0
tzlocal==2.0.0
urllib3==1.26.5
Werkzeug==2.2.3
