certifi==2024.7.4
chardet==3.0.4
Click==7.0
Flask==2.3.2
idna==3.7
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.1
pyparsing==2.4.6
pytz==2019.3
rdflib==4.2.2
requests==2.32.0
six==1.14.0
tzlocal==2.0.0
urllib3==2.6.0
Werkzeug==3.1.5
